:root
{
    --white-name: "";
    --yellow-name: "";
    --orange-name: "";
    --red-name: "";
    --green-name: "";
    --blue-name: "";
    --empty-name: "";

    --correct-name: "";
    --half-name: "";
    --wrong-name: "";

    --vw: min(1vw, calc(0.75 * 1vh));
}

*
{
    user-select: none;
}


html, body
{
    height: 100%;
    margin: 0;
}

body
{
    display: flex;
    flex-flow: column;
    background-color: slategray;
}

#header
{
    flex: 0 1 auto;
    padding: calc(0.5 * var(--vw));
}
  
body > div
{
    text-align: center;
}

#menu
{
    display: inline-block;
    position: relative;
    vertical-align: top;
}

#more
{
    width: calc(10 * var(--vw));
    height: auto;
}

#options
{
    display: none;
    position: absolute;
    right: 0pt;
    margin-top: calc(1 * var(--vw));
    background-color: mintcream;
    border: calc(0.1 * var(--vw)) solid black;
    border-radius: calc(2 * var(--vw));
    font-size: max(0.75em, calc(3 * var(--vw)));
    width: calc(25 * var(--vw));
    min-width: 3em;
    box-shadow: 0pt 0pt calc(5 * var(--vw)) black;
}

#options > div
{
    cursor: default;
    padding: calc(2 * var(--vw));
}

#options > div:not(:first-child)
{
    border-top: calc(0.2 * var(--vw)) solid gray;
}

.bucket
{
    width: calc(13 * var(--vw));
    border-radius: calc(2 * var(--vw));
    background-color: lightgray;
}

.target
{
    background-color: lightgray;
    border: calc(0.1 * var(--vw)) solid darkgray;
}

.target[data-active]
{
    background-color: darkgray;
    border-color: black;
}

.row
{
    min-width: calc(98 * var(--vw));
}

#rows
{
    flex: 1 1 auto;
    margin: auto;
    margin-top: calc(0.5 * var(--vw));
    margin-bottom: calc(0.5 * var(--vw));
    padding-top: calc(1 * var(--vw));
    padding-bottom: calc(1 * var(--vw));
    border-radius: calc(0.5 * var(--vw));
    border: calc(0.15 * var(--vw)) solid black;
    background-color: dimgray;
    overflow-y: scroll;
}

.left-col
{
    min-width: calc(64 * var(--vw));
    display: inline-flex;
    vertical-align: middle;
    justify-content: flex-end;
}

.right-col
{
    min-width: calc(30 * var(--vw));
    display: inline-flex;
    vertical-align: middle;
}

.column
{
    width: calc(13 * var(--vw));
    border-radius: calc(1 * var(--vw));
    margin-left: calc(0.4 * var(--vw));
    margin-right: calc(0.4 * var(--vw));
}

.cell
{
    border: calc(0.1 * var(--vw)) solid black;
    background-color: lightgray;
}

.score
{
    width: calc(7 * var(--vw));
    border-radius: calc(1 * var(--vw));
    border: calc(0.1 * var(--vw)) solid black;
    background-color: lightgray;
    margin-left: calc(0.4 * var(--vw));
    margin-right: calc(0.4 * var(--vw));
}

.index
{
    width: max(1em, calc(8 * var(--vw)));
    border-radius: calc(1 * var(--vw));
    border: calc(0.1 * var(--vw)) solid black;
    margin-left: calc(0.4 * var(--vw));
    margin-right: calc(0.4 * var(--vw));
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 0pt;
    padding-right: 0pt;
    font-size: max(0.5em, calc(4 * var(--vw)));
    background-color: gray;
    color: white;
}

#go
{
    font-size: max(0.75em, calc(3 * var(--vw)));
    width: calc(16 * var(--vw));
    min-width: 2em;
    height: calc(8 * var(--vw));
    min-height: 1em;
    border-radius: calc(1 * var(--vw));
    background-color: mintcream;
    margin: auto;
}

#gameover
{
    border: calc(0.15 * var(--vw)) solid black;
    border-radius: calc(1 * var(--vw));
    color: white;
    font-size: max(1em, calc(3 * var(--vw)));
    font-weight: bold;
    padding: calc(0.5 * var(--vw));
    margin: auto;
    margin-top: calc(1 * var(--vw));
    width: max(6em, calc(24 * var(--vw)));
}

#gameover[data-show="0"]
{
    display: none;
}

#gameover[data-show="1"]
{
    background-color: green;
}

#gameover[data-show="2"]
{
    background-color: red;
}

.colored
{
    display: inline-block;
    padding-top: calc(0.5 * var(--vw));
    padding-bottom: calc(0.5 * var(--vw));
    padding-left: 0pt;
    padding-right: 0pt;
    text-align: center;
}

.colored::before
{
    font-size: max(0.5em, calc(2 * var(--vw)));
    margin: auto;
    display: block;
}

.colored::after
{
    margin: auto;
    content: "";
    background-size: 100% 100%;
    display: block;
}

.bucket.colored::after
{
    width: max(1em, calc(11 * var(--vw)));
    height: max(1em, calc(11 * var(--vw)));
}

.column.colored::after
{
    width: max(1em, calc(10 * var(--vw)));
    height: max(1em, calc(10 * var(--vw)));
}

.score.colored::after
{
    width: max(0.5em, calc(5 * var(--vw)));
    height: max(0.5em, calc(5 * var(--vw)));
}

.colored[data-color="empty"]::before
{
    content: var(--empty-name);
}

.colored[data-color="empty"]::after
{
    background-image: url("color/empty.png");
}

.colored[data-color="wrong"]::before
{
    content: var(--wrong-name);
}

.colored[data-color="wrong"]::after
{
    background-image: url("score/wrong.png");
}

.colored[data-color="half"]::before
{
    content: var(--half-name);
}

.colored[data-color="half"]::after
{
    background-image: url("score/gray.png");
}

.colored[data-color="full"]::before
{
    content: var(--correct-name);
}

.colored[data-color="full"]::after
{
    background-image: url("score/black.png");
}

.colored[data-color="0"]::before
{
    content: var(--white-name);
}

.colored[data-color="0"]::after
{
    background-image: url("color/white.png");
}

.colored[data-color="1"]::before
{
    content: var(--yellow-name);
}

.colored[data-color="1"]::after
{
    background-image: url("color/yellow.png");
}

.colored[data-color="2"]::before
{
    content: var(--orange-name);
}

.colored[data-color="2"]::after
{
    background-image: url("color/orange.png");
}

.colored[data-color="3"]::before
{
    content: var(--red-name);
}

.colored[data-color="3"]::after
{
    background-image: url("color/red.png");
}

.colored[data-color="4"]::before
{
    content: var(--green-name);
}

.colored[data-color="4"]::after
{
    background-image: url("color/green.png");
}

.colored[data-color="5"]::before
{
    content: var(--blue-name);
}

.colored[data-color="5"]::after
{
    background-image: url("color/blue.png");
}
