:root
{
    --white-name: "";
    --yellow-name: "";
    --orange-name: "";
    --red-name: "";
    --green-name: "";
    --blue-name: "";
    --empty-name: "";

    --correct-name: "";
    --half-name: "";
    --wrong-name: "";

    --target-background: white;
    --cell-background: whitesmoke;
}

*
{
    user-select: none;
}

body > div
{
    text-align: center;
}

body > div > div
{
    display: inline-block;
}

#commands > button
{
    width: 25%;
    height: 2em;
    border-radius: 4pt;
    background-color: mintcream;
}

#go
{
    width: 75%;
    height: 2em;
    border-radius: 4pt;
    background-color: mintcream;
}

#buckets > button
{
    width: 15%;
    border-radius: 4pt;
    background-color: var(--target-background);
}

#targets > td > button
{
    background-color: var(--target-background);
    border-color: gray;
}

#targets > td > button[data-active]
{
    background-color: azure;
    border-color: black;
}

.colored
{
    display: inline-block;
}

.colored::before
{
    font-size: 6pt;
    display: block;
}

.colored::after
{
    font-size: 12pt;
    display: block;
}

.colored[data-color="empty"]::before
{
    content: var(--empty-name);
}

.colored[data-color="empty"]::after
{
    content: "\2B1C";
    color: var(--target-background);
}

.colored[data-color="wrong"]::before
{
    content: var(--wrong-name);
}

.colored[data-color="wrong"]::after
{
    content: "\2737";
    color: var(--cell-background);
}

.colored[data-color="half"]::before
{
    content: var(--half-name);
}

.colored[data-color="half"]::after
{
    content: "\2737";
    color: gray;
}

.colored[data-color="full"]::before
{
    content: var(--correct-name);
}

.colored[data-color="full"]::after
{
    content: "\2737";
    color: black;
}

.colored[data-color="0"]::before
{
    content: var(--white-name);
}

.colored[data-color="0"]::after
{
    content: "\2601";
    color: white;
}

.colored[data-color="1"]::before
{
    content: var(--yellow-name);
}

.colored[data-color="1"]::after
{
    content: "\1F4A1";
    color: yellow;
}

.colored[data-color="2"]::before
{
    content: var(--orange-name);
}

.colored[data-color="2"]::after
{
    content: "\1F7E0";
    color: darkorange;
}

.colored[data-color="3"]::before
{
    content: var(--red-name);
}

.colored[data-color="3"]::after
{
    content: "\2764";
    color: red;
}

.colored[data-color="4"]::before
{
    content: var(--green-name);
}

.colored[data-color="4"]::after
{
    content: "\1F340";
    color: green;
}

.colored[data-color="5"]::before
{
    content: var(--blue-name);
}

.colored[data-color="5"]::after
{
    content: "\1F4A7";
    color: blue;
}

.board
{
    padding: 2pt;
    margin-top: 2pt;
    margin-bottom: 2pt;
    border-radius: 2pt;
    border: 1pt solid black;
    width: 100%;
    background-color: gainsboro;
}

#targets > td:nth-child(1),
#targets > td:nth-child(2),
#targets > td:nth-child(3),
#targets > td:nth-child(4)
{
    width: 14%;
}

#targets > td:nth-child(5),
#targets > td:nth-child(6),
#targets > td:nth-child(7),
#targets > td:nth-child(8)
{
    width: 9%;
}

.column
{
    border-radius: 2pt;
    padding: 0pt;
    border: 1pt solid black;
    text-align: center;
    width: 100%;
}

.cell
{
    background-color: var(--cell-background);
}

.score
{
    border-radius: 2pt;
    padding: 0pt;
    border: 1pt solid black;
    text-align: center;
    background-color: var(--cell-background);
    width: 100%;
}

#gameover
{
    border: 1pt solid black;
    border-radius: 2pt;
    color: white;
    font-size: 12pt;
    font-weight: bold;
    padding: 4pt;
}